.rightAlign {
  text-align: right;
}

.leftAlign {
  text-align: left;
}

.title {
  font-size: 2rem;
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.fadeOut {
  animation: fadeout 0.5s forwards;
}

.fadeIn {
  animation: fadein 0.5s forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .title {
    font-size: 2.75rem;
  }
}
.discoverWeeklySaver {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.5rem;
}
.discoverWeeklySaver .plNameEntry {
  width: 100vw;
}
.discoverWeeklySaver .plNameEntry p {
  width: 100%;
}
.discoverWeeklySaver .playlist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}
.discoverWeeklySaver .playlist .tracks {
  width: 100%;
}
.discoverWeeklySaver .playlist .track {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #5b5b5b;
  gap: 1rem;
  padding: 0.5rem;
}
.discoverWeeklySaver .playlist .track .name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.discoverWeeklySaver .playlist .track:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.discoverWeeklySaver .playlist .track:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.discoverWeeklySaver .showInput {
  display: block;
}
.discoverWeeklySaver .showInput:hover {
  cursor: pointer;
}
.discoverWeeklySaver .showInput:after {
  content: "";
  margin-left: 4px;
  margin-bottom: 2px;
  border: solid rgba(255, 255, 255, 0.87);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(45deg);
}
.discoverWeeklySaver .collectionNameInput {
  background-color: grey;
  border: 1px solid black;
  border-radius: 1px;
  padding: 0.2rem;
}
.discoverWeeklySaver .usrImg {
  border-radius: 50%;
}
.discoverWeeklySaver .tabContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: -0.5rem;
  position: relative;
}
.discoverWeeklySaver .tabContainer .tab {
  background-color: grey;
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.discoverWeeklySaver .tabContainer .tab:hover {
  cursor: pointer;
}
.discoverWeeklySaver .tabContainer .tab.active {
  background-color: #006031;
}
.discoverWeeklySaver .tabContainer:after {
  content: "";
  border-top: 4px solid #006031;
  border-top-left-radius: 2rem 0.5rem;
  border-top-right-radius: 2rem 0.5rem;
  width: 29vw;
  position: absolute;
  bottom: 0;
}
@media (width < 480px) {
  .discoverWeeklySaver {
    width: 100%;
  }
  .discoverWeeklySaver button {
    font-size: 1rem;
    height: 2rem;
  }
  .discoverWeeklySaver .playlist {
    width: 100%;
  }
  .discoverWeeklySaver .playlist .tracks {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
  .discoverWeeklySaver .playlist .track {
    flex-direction: column;
    gap: 0;
  }
  .discoverWeeklySaver .tabContainer {
    width: 100%;
  }
  .discoverWeeklySaver .tabContainer:after {
    width: 96%;
  }
}

/*# sourceMappingURL=DiscoverWeeklySaver.css.map */
