@use "../shared/Styles" as *;
@use "../shared/Variables" as *;


.discoverWeeklySaver {
    @include flexCenterColumn();
    gap: 0.5rem;

    .playlist {
        @include flexCenterColumn();
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        //width: 50;
        //border: 1px solid rebeccapurple;

        .track {
            @include flexCenter();
            @include fitContainer();
            border: 1px solid #5b5b5b;
            gap: 1rem;
            padding: .5rem;
            //border-radius: 1rem;
            //display: grid;
            //grid-template-columns: repeat(2, 1fr);

            &:first-child {
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;
            }

            &:last-child {
                border-bottom-left-radius: .5rem;
                border-bottom-right-radius: .5rem;
            }
        }
    }

    .usrImg{
        border-radius: 50%;
    }

    @media (width < $breakpointMobile) {
        width: 100%;
        .playlist{
            width: 100%;

            .tracks{
                display: flex;
                flex-direction: column;
                gap: .25rem;
            }
            .track{
                flex-direction: column;
                gap: 0;
            }
        }
    }
}
